* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html{
	display : grid;
}

body{
	/*display:grid;*/
	 /*background-color: rgba(12.2, 9.8, 0.9);*/
	margin: auto 0;
	background-size: cover;
	font-size:2em;
	/*box-sizing: border-box;*/
	width:100%;
    min-height: 100vh;
   background-color: rgba(33,34,35,255);

}


.heading{ 
  /*background-color: */
  /*background: url(cover5.jpg) ;*/
  /*padding: 90px;*/
  background-size: cover;
  background-position: center;
  object-fit:cover;
  padding-top: 1px;
  /*opacity:0.8;*/
  /*filter: grayscale(var(--value, 100%));*/
  /*background: linear-gradient(180deg, rgba(32,33,37,1) 0%, rgba(32,33,37,0) 64%);*/


 }
.heading {
      width: 100%;
      height: 271px;

}
/*.zone { margin: 00px; }*/

/*******REASON*******item2 useless hogaya qki hamne body pe sab impliment kardiya aur hamri image bahar nikal rahi thi */
/*.item2{  

	background-color: rgba(33,34,35,255);
	/*background-image:url(mario.png);*/
   /* width:50px;
    height:50px;*/	
	/*height:calc(var(--vh, 1vh)*150);  *****imp****- this is for to full-fill the webpage in mobile aslo */
	/*height: 50vh;  view port height value is quite responsive then px, it can size according to the size of website */
    /*display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}*/
/*******************/

.insta {
  display: inline-block;
  margin: 0 0.5rem;

  /*animation: flipInX;*/ /* referring directly to the animation's @keyframe declaration */
  /*animation-duration: 2s;*/  /* don't forget to set a duration! */
  height:50px;
  width: 50px;
  /*animation: flipInX 2s infinite;*/
  /*height:200px;*/
  position: sticky;
}



.container{  left:457px;
  position: sticky;
  bottom:40px;
  top:1600px;
  bottom:0px;
}

nav{
  left:40px;
  width:70%;
  margin-left: 142px;
}

.box ul {
  background-color: #000096;
}
.box a{
  color: #FFFF1D;
  margin:44px;
  text-decoration:none;
  list-style: none;
}

.text{
  display :flex;
  list-style-type: none;
  margin:50px; /*this is for the table size */
  justify-content: center;
}


.xyz{
	 width:900px;
    height:700px;
    position: inherit;
    /*opacity: 0.5;*/
    filter: grayscale(var(--value, 100%));
    /*/*position:relative ;*/
     /*left:41px; top:449px; bottom: 80px;*/
    /*object-position: center;*/
    padding-top: 200px;
    
    padding-bottom: 200px;

}

/*.xyz{
	position: absolute;
}*/

.png2{
  display:none;
}


.BUGGY {
  
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(83.9, 2.4, 2.4));
  font-size: 45px;
  align-self: baseline;
  text-align: center;
}
.BUGGY span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #F51313;
  text-transform: uppercase;
  animation: BUGGY 1s infinite;
  animation-delay: calc(.1s * var(--i));
  vertical-align: top;
   /*well by doing this my buggydclown gets up there but dontkno*/w
  
}
@keyframes BUGGY {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


body > img {
    object-position: center;
    /*overflow: auto;*/
}

body > .item2{
	padding:100%;
}



.hellow{

	margin:00px;
}


.abc{
  display: none;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.icon{
  /*height: 146px;
  position:relative;
  top: -225px;*/
  display: none;
}


.icon1{
   /* height: 84px;
    position: relative;
    top: -37px;
    left: 64px;
*/
   display:none;
}



/***** mobile *****/

@media only screen and (max-width: 700px) {

    html {
      
    }


    body{
    margin: auto 0;
    background-size: cover;
    font-size:2em;
    
    width:100%;
    min-height: 70vh;
    background-color: rgba(33,34,35,255);

    }


    .heading{ 
      border-style: solid;
      border-width: 10px;
      border-color: black;
      
      background-size: cover;
      background-position: center;
      object-fit:cover;
      /*padding-top: 1px;*/
      width: 94%;
      height: 141px;


    }

  .insta {
    display:grid;
    margin: 0 0.5rem;
    /*animation: flipInX; */
    /*animation-duration: 2s;  */
    height:50px;
    width: 50px;
    /*animation: flipInX 2s infinite;*/
    /*position: relative;*/
    /*margin-top: 250px;*/
    bottom:-136px;
    padding: 25px;

  }

 /* .pointer{
    height:50px;
    width:50px;
  }*/

  #chapter td, #chapter th {
    border: 1px solid #ddd;
    padding: 8px;
  }


  .xyz {

    display:none;
  }

  .png2 {
    width:95%;
    height: auto;
    display:grid;
    /*margin-top: 100px;*/
    position: relative;
    bottom: -96px;
  }

  .BUGGY {
    
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(83.9, 2.4, 2.4));
    font-size: 28px;
    align-self: baseline;
    text-align: center;
  }
  .BUGGY span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #f8f9f9;
    text-transform: uppercase;
    animation: BUGGY 1s infinite;
    animation-delay: calc(.1s * var(--i));
    vertical-align: top;
     /*well by doing this my buggydclown gets up there but dontkno*/
    
    
  }
  @keyframes BUGGY {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }


  .hellow{

    margin:00px;
  }

  .container{  left:457px;
    position: sticky;
    bottom:40px;
    top:1600px;
    bottom:0px;
    background-color: yellow;
  }

  nav{
    left:40px;
    width:70%;
    margin-left: 142px;
  }

 /* ul {
    background-color: #000096;
  }*/
  .box a{
    color: #FFFF1D;
    margin:44px;
    text-decoration:none;
    list-style: none;
  }

  .text{

    display : none ;
  }  
  
  .abc{
    display: grid;
    position: relative;
    top: -241px;
  }


  .icon{
    display: inline-block;
    height: 97px;
    position:relative;
    top: -145px;
  
  }


  .icon1{
    display: grid;
    height: 84px;
    position: relative;
    top: 7px;
    left: 24px;

   
  }
   
   /*a{margin:10px;}*/
   .sidenave ul{

    background-color: none;
   }
  
    li {
      margin:10px;
      background-color: yellow;
    }

    

    th{
     background-color:  rgb(255,255,0,0.75);
     /*opacity: 0.7;*/
    }

    .abc p{
      color:  rgb(0,0,0,1);
    }

    /*td{
      background-color: red;
      opacity: 0.5;
    }*/
    td{
      background-color: red;
      background: rgba(100%, 0%, 0%, 0.45);
      border-radius:15px;
    }


    .abc a{
      color:  rgb(255,255,0,1);
      opacity:1 !important; 
      text-decoration: none;
    }

    .item2{
          height: 136vh;
    }

    .container{
    /*overflow: inherit;*/
    /*position: ;*/
    /* bottom: -32px; */
    /*height: 242px;*/  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 71px; 
    }

    .container p{ 
       padding:10px;
       text-align: center;
       font-family:  sans-serif;

     }
       

     .container h9{  
       font-family: "Sofia", sans-serif;

     } 
   

}



/*media queries allow us to create responsive websites and tell our web pages what to do when the sixe of our screen */



